.posts-pagination
    .pagination
        justify-content: center
.elementor-widget-eventsub_area__o
    .newsletter-two .social-icon-three li a:hover
        color: var(--theme-color-five) !important
.page-links
    display: flex
    justify-content: flex-start
    align-items: flex-start
    margin-bottom: 20px
    a, .current
        position: relative
        color: var(--dark-color)
        height: 52px
        width: 52px
        line-height: 48px
        text-align: center
        border: 2px solid #eaeaea
        display: inline-block
        border-radius: 50%
        font-size: 16px
        font-weight: 500
        transition: .5s ease
        margin-right: 10px
        &:hover
            color: var(--theme-color)
            border-color: var(--theme-color)
    .current
        color: var(--theme-color)
        border-color: var(--theme-color)
.nav-links
    display: flex
    justify-content: flex-start
    align-items: flex-start
    .current.page-numbers
        color: var(--theme-color)
        border-color: var(--theme-color)
    .page-numbers
        position: relative
        color: var(--dark-color)
        height: 52px
        width: 52px
        line-height: 48px
        text-align: center
        border: 2px solid #eaeaea
        display: inline-block
        border-radius: 50%
        font-size: 16px
        font-weight: 500
        transition: .5s ease
        margin-right: 10px
        &:hover
            @extend .current.page-numbers
body
    overflow-x: hidden
.news-block-three.no-post-thumb
    .post-meta-info
        position: relative
        bottom: 0px
        right: 0px
        a
            color: var(--theme-color)
    .lower-content
        padding: 0
img.aligncenter
    display: block
.wp-block-media-text
    margin-bottom: 10px
.wp-block-latest-comments__comment 
    list-style: none !important
.goodsoul-base
    .single-blog-post
        .top-content
            .image
                img
                    width: auto
    .top-content
        box-shadow: 0px 0px 45px 5px rgba(89, 83, 76, 0.08)
        padding: 30px
        margin-bottom: 40px
        ul
            li
                display: block !important
        .text
            overflow: hidden
        .wp-block-categories-list
            li
                display: flex !important
                justify-content: flex-start !important
                align-items: flex-start !important
                a
                    margin-right: 5px
    .news-block-three
        .image
            img
                width: auto
    .screen-reader-text
        border: 0
        clip: rect(1px, 1px, 1px, 1px)
        -webkit-clip-path: inset(50%)
        clip-path: inset(50%)
        height: 1px
        margin: -1px
        overflow: hidden
        padding: 0
        position: absolute !important
        width: 1px
        word-wrap: normal !important
    a,
    .entry-title,
    h2
        word-wrap: break-word
    .sticky_post_icon
        position: absolute
        top: 20px
        right: 20px
        z-index: 1
        color: var(--theme-color)
        font-size: 30px
    .wp-block-button
        margin: 10px 0
    p.wp-block-cover-text
        position: relative
        color: #fff !important
    .wp-block-cover,
    .wp-block-cover-image
        margin-bottom: 10px
    ul.wp-block-gallery
        display: flex
        padding-left: 0 !important
    .post-password-form
        input[type="password"]
            position: relative
            display: block
            width: 100%
            height: 50px
            border: 1px solid #e5e5e5
            border-radius: 5px
            background: #fff
            padding: 10px 15px
            transition: all 500ms ease
            max-width: 320px
            margin-bottom: 10px
            margin-top: 10px

        input[name="Submit"]
            position: relative
            display: block
            width: 100%
            height: 50px
            border: 1px solid #e5e5e5
            border-radius: 5px
            background: var(--theme-color)
            padding: 10px 15px
            transition: all 500ms ease
            color: #fff
            max-width: 90px
            margin-bottom: 10px
            cursor: pointer
    .comment.yes-ping 
        padding-left: 0 !important
    .wp-block-image .aligncenter>figcaption,
    .wp-block-image .alignleft>figcaption,
    .wp-block-image .alignright>figcaption,
    .wp-block-image.is-resized>figcaption
        text-align: center
    table,
    th,
    td
        border: 1px solid #f0f0f0
        border: 1px solid rgba(51, 51, 51, 0.1) !important
        font-size: 15px
    th,
    td
        padding: 7px
        font-size: 15px
        text-align: center
    table
        border-collapse: separate
        margin-bottom: 10px
        margin-top: 10px
        border-spacing: 0
    select
        position: relative
        display: block
        width: 100%
        height: 50px
        border: 1px solid #e5e5e5
        border-radius: 5px
        background: #fff
        padding: 10px 15px
        transition: all 500ms ease
        max-width: 320px
        margin-bottom: 10px
    .widget_calendar
        table
            width: 100%
            a
                color: #000
    .widget_rss
        .rsswidget
            color: black
            font-size: 20px
            font-weight: 500
        .rssSummary
            font-size: 15px
    .widget_recent_entries
        li
            margin-bottom: 10px
    .widget_recent_entries, .widget_rss
        ul
            margin-left: 0px !important
            li
                position: relative
                display: block
                width: 100%
                height: 50px
                border: 1px solid #e5e5e5
                border-radius: 5px
                background: #ececec
                padding: 10px 15px
                transition: all 500ms ease
                &:after
                    display: none
                a
                    margin-bottom: 0
    .widget_rss
        ul
            li
                height: auto
                margin-bottom: 10px
                .rss-date
                    width: 100%
                    font-size: 15px
                    margin-bottom: 10px
                .rsswidget
                    font-size: 15px
                    margin-bottom: 10px
                    line-height: 24px
                cite
                    color: #000
                    font-weight: 400
                    margin-top: 10px
                    display: block
                &:hover
                    cite, a
                        color: var(--theme-color)
                        transition: .2s
 
    .widget_text
        .textwidget
            p
                img
                    margin: 10px auto
            strong
                position: relative
                font-size: 14px
                line-height: 24px
                margin: 0 0 10px
        .wp-caption
            margin-bottom: 1.5em
            margin-top: 1em
            max-width: 100%
            .wp-caption-text
                margin-top: 10px
        select
            margin-top: 10px
    .widget_recent_comments
        ul
            li
                &:after
                    display: none
                .comment-author-link
                    margin-right: 5px
                    margin-left: 0px
        ul
            margin-left: 0px !important
            li
                display: flex !important
                justify-content: flex-start !important
                align-items: flex-start !important
                margin-bottom: 10px
                a
                    margin-left: 5px  !important
                .comment-author-link
                    a
                        margin-left: 0px  !important

    abbr[title]
        border-bottom: 1px dotted
    acronym
        border-bottom: 1px dotted
    pre
        display: block
        padding: 9.5px
        margin: 0 0 10px
        font-size: 13px
        line-height: 1.42857143
        color: #333
        white-space: pre-wrap
        word-wrap: break-word
        background-color: #fff
        border-radius: 4px
        overflow: auto
        margin-top: 10px
        border: 1px solid var(--theme-color)
    .alignleft 
        float: left
        margin-right: 1.5em
        margin-bottom: 1.5em
    .wp-block-button.alignright
        text-align: right
    .wp-block-quote.is-large, .wp-block-quote.is-style-large
        padding: 41px 40px !important
    .alignright 
        display: inline
        float: right
        margin-left: 1.5em
    .blocks-gallery-item
        list-style: outside none
        padding-left: 0 !important
    iframe 
        width: 100%
    .blocks-gallery-item:after 
        content: none !important
    blockquote
        padding: 41px 40px
        background-color: #f7f7fa
    blockquote
        border-left: 2px solid var(--theme-color)
    .wp-block-cover-text 
        margin-bottom: 0 !important
    .aligncenter 
        clear: both
        margin-left: auto
        margin-right: auto
        
    figcaption
        margin-top: 10px
        font-size: 14px
    .wp-caption
        margin-bottom: 1.5em
        max-width: 100%
    a, .entry-title
        word-wrap: break-word
    .widget_text
        select[name="monster-widget-just-testing"]
            margin-bottom: 0
    .sidebar-page-container
        overflow-x: hidden
        .sidebar
        ul
            margin-left: 20px
            li
                position: relative
                list-style-type: disc
                color: #25283a
                display: flex
                justify-content: space-between
                align-items: center
                flex-wrap: wrap
                &:after
                    content: ''
                    position: absolute
                    left: -20px
                    top: 13px
                    width: 6px
                    height: 6px
                    border-radius: 50%
                    background: var(--theme-color)
                &:hover
                    a
                        color: var(--theme-color)
                a
                    display: block
                    color: #25283a
                    font-size: 16px
                    line-height: 30px
                    font-weight: 400
                    text-transform: capitalize
                    transition: all 500ms ease
                    margin-bottom: 10px
                ul
                    width: 100%
        ol
            list-style-type: decimal
            margin-block-start: 1em
            margin-block-end: 1em
            margin-inline-start: 0px
            margin-inline-end: 0px
            padding-inline-start: 20px
            li
                list-style-type: decimal
                margin-top: 8px
        ul
            list-style-type: disc
            margin-block-start: 1em
            margin-block-end: 1em
            padding-inline-start: 10px
            margin-top: 8px
            li
                list-style-type: disc
                font-size: 16px
                line-height: 26px
    .sidebar-widget
        width: 100%
        float: left
        margin-bottom: 20px
        .sidebar-title
            overflow: hidden
            margin-bottom: 20px
        ul
            margin-left: 20px
            li
                position: relative
                list-style-type: disc
                color: #25283a
                display: flex
                justify-content: space-between
                align-items: center
                width: 100%
                flex-wrap: wrap
                &:after
                    content: ''
                    position: absolute
                    left: -20px
                    top: 13px
                    width: 6px
                    height: 6px
                    border-radius: 50%
                    background: var(--theme-color)
                &:hover
                    a
                        color: var(--theme-color)
                a
                    display: block
                    color: #25283a
                    font-size: 16px
                    line-height: 30px
                    font-weight: 400
                    text-transform: capitalize
                    transition: all 500ms ease
                    margin-bottom: 10px
                ul
                    width: 100%
        ol
            list-style-type: decimal
            margin-block-start: 0em
            margin-block-end: 0em
            margin-inline-start: 0px
            margin-inline-end: 0px
            padding-inline-start: 0px
            li
                list-style-type: decimal
                margin-top: 0px
        ul
            list-style-type: disc
            margin-block-start: 0em
            margin-block-end: 0em
            padding-inline-start: 0px
            margin-top: 0px
            li
                list-style-type: disc
                font-size: 16px
                line-height: 26px
.comment-form
    .row
        margin-left: 0
        margin-right: 0
        .row
            margin-left: -15px
            margin-right: -15px
    textarea
        margin-bottom: 15px
    .form-group
        margin-bottom: 10px
.comments-area 
    .group-title
        margin-bottom: 20px
        h3, h2
            position: relative
            font-size: 18px
            line-height: 1.25em
            color: #000
            font-weight: 400
    .comment-box
        .comment 
            .comment-reply-link
                font-weight: 500
                color: #000
                letter-spacing: 2px
            .text
                width: 100%
            .comment-info
                .name
                    position: relative
                    display: block
                    font-size: 16px
                    line-height: 30px
                    font-weight: 400
                .time
                    font-size: 15px
                a
                    color: var(--theme-color)
p
    .alignright
        clear: both
.comment-respond
    width: 100%
    .row
        margin-right: -15px
        margin-left: -15px
    a
        color: var(--theme-color)
    .btn-style-one
        .btn-title
            padding: 13px 30px
    .logged-in-as
        font-size: 15px
        margin-bottom: 12px
    .comment-reply-title
        font-size: 16px
        margin-bottom: 10px
    .email-not-publish
        font-size: 15px
    .form-default
        max-width: 700px
        .email-not-publish
            margin-bottom: 15px
        .logged-in-as
            font-size: 15px
            margin-bottom: 15px
    .comment-form-cookies-consent
        margin-bottom: 10px
        display: flex
        justify-content: flex-start
        align-items: flex-start
        input
            margin-right: 10px
            top: 7px
            position: relative
        label
            line-height: 29px
            margin-bottom: 0
    .form-submit
        button
            padding: 15px 18px
.comment-list
    .comment-respond
        margin-top: 47px
.wp-block-image .aligncenter>figcaption,
.wp-block-image .alignleft>figcaption,
.wp-block-image .alignright>figcaption,
.wp-block-image.is-resized>figcaption
    display: block
.title-holder a
    background: transparent !important
    margin-top: 0 !important
.widget_search
    
.title-holder ul.clearfix
    display: flex !important
    justify-content: center
    align-items: center
p
    line-height: 1.5em
.no-results
    .inner-box
        overflow: hidden
        .sidebar-widget.search-box
            max-width: 260px
            margin-top: 20px
.shop-sidebar-wrapper
    .single-sidebar-box
    .widget_top_rated_products
        .product_list_widget
            li
                position: relative
                display: block
                border-bottom: 1px solid #ededed
                min-height: 70px
                padding-bottom: 25px
                margin-bottom: 25px
                &:before
                &:after
                a
                    img
                        height: 70px
                        width: 70px
                    .product-title
                        line-height: 20px
                        font-weight: 400
                .reg-price
                    display: none !important
                .price
                    margin-top: 10px
                    display: block
                    line-height: 14px
                    .woocommerce-Price-amount
                        .woocommerce-Price-currencySymbol
    .woocommerce-widget-layered-nav-list
        li
            display: flex !important
            padding-left: 10px !important
            a
                padding-right: 10px !important
    .product-categories, .woocommerce-widget-layered-nav-list
        position: relative
        display: block
        border: 1px solid #ededed
        border-bottom: none
        border-radius: 6px
        li
            position: relative
            display: block
            line-height: 50px
            border-bottom: 1px solid #ededed
            transition: all 500ms ease
            a
                position: relative
                display: block
                padding-left: 20px
                color: #828282
                font-size: 15px
                font-weight: 400
                transition: all 500ms ease
                transition-delay: .2s
                transform: perspective(0px) translateX(0px) rotate(0deg)
            ul
                li
                    padding-left: 0px
nav.woocommerce-MyAccount-navigation
    border: 1px solid #ed622136
    border-radius: 3px
    li
        padding: 5px 20px
        border-bottom: 1px solid #ed622136
.related-products
    margin-bottom: 50px
    .sec-title
        margin-bottom: 20px
        h2
            margin-bottom: 20px
            color: var(--dark-color)
            font-size: 20px
            font-weight: 400
            margin: 6px 0 15px
            text-transform: capitalize
            padding-right: 72px


.rid-single-shop
    padding-bottom: 0px !important
    .shop-page-title
        color: var(--dark-color)
        font-size: 20px
        line-height: 26px
        font-family: var(--prata)
        text-transform: capitalize
        margin-bottom: 15px
    #reviews 
        #comment
            height: 160px !important
    .woocommerce-Reviews
        .review-box
            position: relative
            display: block
            margin-bottom: 40px
            border-bottom: 1px solid #ededed
            padding-bottom: 25px
            .commentlist
                li
                    .comment-text
                        margin: 0 0 0 50px
                        border: 1px solid #e4e1e3
                        border-radius: 4px !important
                        margin-left: 100px !important
                    img
                        float: left !important
                        position: absolute !important
                        top: 0 !important
                        left: 0 !important
                        padding: 3px !important
                        width: 40px !important
                        height: auto !important
                        background: #ebe9eb !important
                        border: 1px solid #e4e1e3 !important
                        margin: 0 !important
                        box-shadow: none !important
        #respond input#submit
            position: relative !important
            line-height: 24px !important
            color: #fff !important
            font-size: 13px !important
            font-weight: 500 !important
            border-radius: 25px !important
            padding: 13px 48px !important
            background: var(--theme-color) !important
            text-transform: uppercase !important
            overflow: hidden !important
    .woocommerce-tabs
        
        .woocommerce-Tabs-panel--description
            h2
                color: var(--dark-color)
                font-size: 20px
                font-weight: 400
                margin: 6px 0 15px
                text-transform: capitalize
                padding-right: 72px
            p
                color: #302c51
                font-size: 15px
                line-height: 28px
                color: #302c51
                font-weight: 400
                background: #ffffff
                -webkit-font-smoothing: antialiased
                -moz-font-smoothing: antialiased
                font-family: var(--rubik)
        .wc-tabs
            padding-left: 0px !important
            position: relative
            display: block
            border-bottom: 1px solid #ededed
            margin-bottom: 35px
            z-index: 1
            li
                position: relative !important
                font-family: var(--rubik) !important
                background: transparent !important
                border-radius: 0 !important
                cursor: pointer !important
                margin: 0 !important
                padding: 15px 20px 13px !important
                color: var(--dark-color) !important
                font-size: 20px !important
                font-weight: 400 !important
                text-transform: capitalize !important
                transition: all 500ms ease !important
                background: transparent !important
                a
                    font-weight: 400 !important
            .description_tab, .additional_information_tab
                border: 0px !important
                &:after
                    content: none !important
                &:before
                    content: none  !important
            .active
                a
                    color: var(--theme-color) !important
                border: 0px !important
                border-bottom: 1px solid var(--theme-color) !important
                &:before
                    content: none  !important
                &:after
                    content: none  !important
            .reviews_tab
                border: 0px !important
                &:after
                    content: none !important
                &:before
                    content: none  !important
            &:after
                content: none !important
            &:before
                content: none  !important
    .basic-details
        margin-bottom: 50px
    .info-column
        .summary.entry-summary
            width: 100%
    .image-column
        .inner
            display: flex
            justify-content: center
            align-items: center
            background: whitesmoke
            height: 100%
            position: relative
            .lightbox-image
                position: absolute
                top: 10px
                right: 10px
                background: #ed6221
                color: #fff
                width: 40px
                height: 40px
                border-radius: 50%
                text-align: center
                line-height: 40px
                font-size: 12px
    .content-box-simgple
        p
            color: #302c51
            font-size: 15px
            line-height: 28px
            color: #302c51
            font-weight: 400
            background: #ffffff
            -webkit-font-smoothing: antialiased
            -moz-font-smoothing: antialiased
            font-family: var(--rubik)
        position: relative
        h2
            color: var(--dark-color)
            font-size: 30px
            font-weight: 400
            margin: 6px 0 15px
            text-transform: capitalize
            padding-right: 72px
        .item-price
            color: var(--theme-color) !important
            font-size: 24px !important
            font-weight: 400
            position: absolute
            right: 0
            top: 0
            padding: 0
    .quantity
        .qty
            width: 70px
            border: 1px solid #ed6221
            line-height: 49px
            margin-right: 10px
            color: #222
            font-family: inherit
            text-transform: capitalize
            border-color: #e7e7e7
            border-radius: 5px !important
            padding: 0px
    .single_add_to_cart_button
        position: relative !important
        line-height: 24px !important
        color: #fff !important
        font-size: 13px !important
        font-weight: 500 !important
        border-radius: 25px !important
        padding: 13px 48px !important
        background: var(--theme-color) !important
        text-transform: uppercase !important
        overflow: hidden !important
    .review-box
        display: flex
        justify-content: flex-start
        align-items: center
        margin-bottom: 20px
        .star-rating
            span::before
                color: #ed6221
        .span-count
            margin-left: 10px
            padding-left: 10px
            border-left: 1px solid #e7e7e7
.woocommerce
    .widget_price_filter
        .price_label
            color: #828282
            font-size: 15px
            font-weight: 400
            line-height: 35px
        .price_slider_amount
            .button
                position: relative
                display: inline-block
                background: var(--theme-color)
                float: left
                margin-right: 30px
                padding: 8px 0
                text-align: center
                width: 90px
                border: none
                color: #fff
                font-size: 13px
                font-weight: 500
                margin-top: 0
                border-radius: 16px
                text-transform: uppercase
                cursor: pointer
        .ui-slider
            .ui-slider-handle
                position: absolute
                top: -4px
                background: #ffffff
                border: 1px solid #eeeeee
                border-radius: 50%
                height: 10px
                margin-left: -4px
                outline: medium none
                width: 10px !important
                cursor: pointer
                z-index: 2
                &:before
                    position: absolute
                    top: 0
                    left: 0
                    bottom: 0
                    right: 0
                    width: 4px
                    height: 4px
                    background: var(--theme-color)
                    border-radius: 50%
                    content: ""
                    margin: 2px
        .price_slider_wrapper
            .ui-widget-content
                background-color: #f3f6f7
        .ui-slider-horizontal
            height: 2px
        .ui-slider
            .ui-slider-range
                background-color: #ed6221
.new-donate-form
    .charitable-button
        position: relative
        line-height: 24px
        background: none
        color: var(--theme-color)
        font-size: 13px
        font-weight: 500
        border-radius: 29px
        padding: 15px 48px
        border: 2px solid var(--theme-color)
        text-transform: uppercase
        overflow: hidden
    #charitable-user-fields
        display: flex
        justify-content: flex-start
        align-items: flex-start
        flex-wrap: wrap
    #charitable-donor-fields
        .charitable-form-header
            padding: 0 !important
        #charitable-user-fields
            padding: 0 !important
    .charitable-form-fields
        label[for="charitable_field_first_name_element"]
        .charitable-form-field
            margin-bottom: 0px
            width: calc( 50% - 15px)
            margin-right: 15px
        input,
        select
            position: relative
            padding: 0 15px
            border: 1px solid #eaeaea
            height: 54px
            line-height: 20px
            background: transparent
            border-radius: 6px
            margin-bottom: 15px
            color: #56546b
            
    .donation-amount:nth-child(2n+2)
        margin-right: 10px !important
        margin-bottom: 10px !important
    .donation-amounts
        .donation-amount.selected
            background: var(--theme-color)
            color: #fff
        li
            margin: 0 !important
            display: block
            font-size: 16px
            font-weight: normal
            background: #ffffff
            border: 1px solid #fff
            color: #000
            padding: 10px 35px !important
            text-align: center
            border-radius: 0
            cursor: pointer
            transition: all 0.1s ease-out
            box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0.18)
            border-radius: 6px
            width: auto !important
            margin-right: 10px !important
            margin-bottom: 10px !important
            label
                padding: 0px !important
            span.amount 
                font-weight: 400 !important
        .custom-donation-amount.selected
            background: transparent !important
            .description
                color: var(--theme-color) !important
        .custom-donation-amount
            padding: 0px !important
            background: transparent
            box-shadow: none
            border: 0
            .custom-donation-amount-wrapper
                padding: 0px
                label
                    text-align: left
                    width: 100%
                .custom-donation-input
                    margin: 0 !important
                    display: block
                    font-size: 16px
                    font-weight: normal
                    background: #ffffff
                    border: 1px solid #fff
                    color: #000
                    padding: 10px 35px !important
                    text-align: center
                    border-radius: 0
                    cursor: pointer
                    transition: all 0.1s ease-out
                    box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0.18)
                    border-radius: 6px
                    width: auto !important
                    margin-right: 10px !important
                    margin-bottom: 10px !important
            .description
    .sec-title
        margin-bottom: 10px
    .charitable-fieldset
        margin: 0 0 0em
        padding: 0
        border: 0px solid #ebebeb
        .charitable-form-header
            position: relative
            margin-bottom: 10px
            font-size: 36px
            font-family: var(--prata)
            line-height: 50px
            font-weight: 500
.comments-area .comment-box .author-thumb
    background: #f4f1ee
.single-blog-post .top-content .text
    margin-bottom: 0
.single-blog-post .top-content .text p:last-child
    margin-bottom: 0
.woocommerce-variation-price
    .price
        position: relative !important
        margin-bottom: 20px !important
        display: block
.woocommerce
    .product
        .cart
            table
                td
                    padding-left: 10px !important
            .reset_variations
                border: 1px solid #ed6221
                border-radius: 30px
                padding: 3px 19px
                margin-top: 10px
                position: relative
                display: block
                float: right
            .variations
                select
                    max-width: 190px !important
                    min-width: 190px !important
                    float: left
                    margin-left: 20px
                    margin-top: 10px
.charitable-addons-nine
    .charitable-radio-list
        li
            color: #fff
    .donate-button
        box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0.18)
        margin: 10px auto 0px
        display: block
        border: 1px solid #ffbf0024
        background: #ffbf00
        font-size: 16px
        color: #222
        padding: 13px 35px !important
        text-align: center
        border-radius: 3px
        font-weight: 500
        border: 0px solid #fff
    .login-prompt
        text-align: center
    #charitable-donation-form
        .charitable-form-fields.cf
            min-height: 128px
            display: flex
            justify-content: flex-start
            align-item: flex-start
            flex-wrap: wrap
            .charitable-fieldset.odd
                width: 100%
            #charitable-donor-fields
                width: calc( 50% - 15px )
                margin-right: 15px
            #charitable-gateway-fields
                width: calc( 50% - 15px )
                margin-left: 15px
                .charitable-fieldset-field-wrapper
                    cursor: pointer 
                    text-align: center
                    border: 1px solid #ffffff0a
                    border-radius: 3px
                    margin: 0 auto
                    padding: 20px
                    box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0.18)
                    .charitable-radio-list
                        li
                            margin-right: 20px !important
                            cursor: pointer
                    .charitable-fieldset-field-header
                        margin-bottom: 0px
                        color: #fff
                        font-weight: 400
                    #charitable-gateway-selector
                        margin-bottom: 0px
        .charitable-form-fields
            .charitable-fieldset
                padding: 0px
                border: 0px
                .charitable-form-header
                    display: none
            #charitable-donor-fields
                .charitable-form-fields
                    border: 1px solid #ffffff0a
                    border-radius: 3px
                    margin: 0 auto
                    padding: 20px
                    box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0.18)
                    .charitable-donor-details
                        text-align: center
                        margin: 0 auto
                        .donor-contact-details
                            font-size: 18px
                            color: #ffffff
                        .charitable-change-user-details
                            a
                    #charitable-user-fields
                        margin: 0 auto
                        display: flex
                        flex-wrap: wrap
                        #charitable_field_first_name,
                        #charitable_field_last_name
                            width: 50%
                        #charitable_field_email
                            width: 100%
                        .charitable-form-field
                            margin-bottom: 10px
                            label
                                display: none
                            input
                                box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0.18)
                                border: 1px solid #ffffff0a
                                background: transparent
                                font-size: 16px
                                color: #000
                                padding: 10px 25px !important
                                text-align: center
                                border-radius: 6px
                                color: #fff
            .donation-amount:nth-child(2n+2)
                margin-right: 10px !important
                margin-bottom: 10px !important
            .donation-amounts
                display: flex
                flex-wrap: wrap
                justify-content: center
                .donation-amount.selected
                    background: var(--theme-color-two)
                    color: #fff
                li
                    margin: 0 !important
                    display: block
                    font-size: 18px
                    font-weight: normal
                    background: transparent
                    border: 1px solid rgba(236, 232, 229, 0.10)
                    color: #fff
                    padding: 15px 70px !important
                    text-align: center
                    border-radius: 0
                    cursor: pointer
                    transition: all 0.1s ease-out
                    box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0.18)
                    border-radius: 6px
                    width: auto !important
                    margin-right: 10px !important
                    margin-bottom: 10px !important
                    label
                        padding: 0px !important
                    span.amount 
                        font-weight: 400 !important
                .custom-donation-amount.selected
                    background: transparent !important
                    .description
                        color: var(--theme-color-two) !important
                .custom-donation-amount
                    width: 100% !important
                    padding: 0px !important
                    background: transparent
                    box-shadow: none
                    border: 0
                    .custom-donation-amount-wrapper
                        padding: 0px
                        max-width: 350px
                        position: relative
                        margin: 15px auto 0px 
                        &:after
                            position: absolute
                            content: "$"
                            background: var(--theme-color-two)
                            left: 0
                            top: 0
                            width: 60px
                            height: 100%
                            text-align: center
                            line-height: 60px
                            color: #1a1a1a
                            font-size: 18px
                            border-top-left-radius: 6px
                            border-bottom-left-radius: 6px
                        label
                            display: none
                            text-align: left
                            width: 100%
.custom-donation-input
    position: relative
    box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0.18)
    max-width: 350px
    border-radius: 6px
    font-size: 18px
    background: transparent
    color: #fff
    border: 1px solid rgba(236, 232, 229, 0.10)
    padding: 15px 20px
    padding-left: 80px
    width: 100%
.payment-donate-section-four
    .charitable-radio-list
        li
            color: #fff
.payment-donate-section-four,
.payment-donate-section-two,
.payment-donate-section-three
    .donate-button
        box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0.18)
        margin: 10px auto 0px
        display: block
        border: 1px solid #ffbf0024
        background: var(--theme-color-five)
        font-size: 16px
        color: #fff
        padding: 13px 35px !important
        text-align: center
        border-radius: 3px
        font-weight: 500
        border: 0px solid #fff
    .charitable-donation-form
        .charitable-form-fields.cf
            display: flex
            justify-content: flex-start
            align-item: flex-start
            flex-wrap: wrap
            #charitable-donor-fields
                padding-top: 0
                width: calc( 50% - 15px)
                margin-right: 15px
                .charitable-form-fields
                    border: 1px solid #ffffff0a
                    border-radius: 3px
                    margin: 0 auto
                    padding: 20px
                    box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0.18)
                    .charitable-donor-details
                        text-align: center
                        margin: 0 auto
                        .donor-contact-details
                            font-size: 18px
                            color: #ffffff
                        .charitable-change-user-details
                            a
                    #charitable-user-fields
                        margin: 0 auto
                        display: flex
                        flex-wrap: wrap
                        #charitable_field_first_name,
                        #charitable_field_last_name
                            width: 50%
                        #charitable_field_email
                            width: 100%
                        .charitable-form-field
                            margin-bottom: 10px
                            label
                                display: none
                            input
                                box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0.18)
                                border: 1px solid #ffffff0a
                                background: transparent
                                font-size: 16px
                                color: #000
                                padding: 10px 25px !important
                                text-align: center
                                border-radius: 6px
                                color: #fff
            #charitable-gateway-fields
                width: calc( 50% - 15px )
                margin-left: 15px
                .charitable-fieldset-field-wrapper
                    cursor: pointer 
                    text-align: center
                    border: 1px solid #ffffff0a
                    border-radius: 3px
                    margin: 0 auto
                    padding: 20px
                    box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0.18)
                    .charitable-radio-list
                        li
                            margin-right: 20px !important
                            cursor: pointer
                    .charitable-fieldset-field-header
                        margin-bottom: 0px
                        color: #fff
                        font-weight: 400
                    #charitable-gateway-selector
                        margin-bottom: 0px
            .charitable-fieldset
                width: 100%
                margin: 0
                padding: 0
                border: 0
                .charitable-form-header
                    display: none
                .charitable-donation-options
                    .donation-amounts
                        display: flex
                        flex-wrap: wrap
                        justify-content: center
                        .donation-amount.selected
                            background: var(--theme-color-five)
                            color: #fff
                        .suggested-donation-amount
                            font-size: 18px
                            display: block
                            font-weight: normal
                            border: 1px solid #fff
                            text-align: center
                            cursor: pointer
                            box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0.18)
                            border-radius: 6px
                            transition: all 0.1s ease-out
                            background: transparent
                            color: #fff
                            border-color: rgba(236, 232, 229, 0.10)
                            padding: 15px 51px
                            margin: 0 15px 30px
                            width: auto !important
                            label
                                padding: 0 !important
                                font-size: 16px
                                font-weight: 400
                        .suggested-donation-amount
                        .custom-donation-amount.selected
                            background: transparent
                        .custom-donation-amount
                            width: 100% !important
                            padding: 0px !important
                            background: transparent
                            -webkit-box-shadow: none
                            box-shadow: none
                            border: 0
                            label
                                display: none
                            .custom-donation-input
                            .custom-donation-amount-wrapper
                                padding: 0px
                                max-width: 350px
                                position: relative
                                margin: 15px auto 0px
                                &:after
                                    position: absolute;
                                    content: "$"
                                    background: var(--theme-color-five)
                                    left: 0
                                    top: 0
                                    width: 60px
                                    height: 100%
                                    text-align: center
                                    line-height: 60px
                                    color: #1a1a1a
                                    font-size: 18px
                                    border-top-left-radius: 6px
                                    border-bottom-left-radius: 6px
                                input
                                    text-align: center
.payment-donate-section-three
    .charitable-submit-field
        overflow: hidden
        margin: 0
        .donate-button
            float: left
            box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0)
            margin: 10px auto 0px
            display: block
            border: 1px solid #fff
            background: #fff
            font-size: 16px
            color: #222
            padding: 13px 35px !important
            text-align: center
            border-radius: 3px
            font-weight: 500
            border: 0px solid #fff
    .charitable-donation-form
        .charitable-form-fields.cf
            #charitable-donor-fields
                padding-top: 0
                width: calc( 100% - 0px)
                margin-right: 0
                .charitable-form-fields.cf
                    box-shadow: none
                    border: 0
                    padding: 0px
                .charitable-form-fields
                    .charitable-donor-details
                        .donor-contact-details
                        .charitable-change-user-details
                    #charitable-user-fields
                        padding: 0px
                        #charitable_field_first_name,
                        #charitable_field_last_name
                            width: calc( 50% - 10px )
                            margin-right: 10px
                            input
                                box-shadow: none
                                background: #00a75e
                                text-align: left
                        #charitable_field_email
                            width: 100%
                            input
                                text-align: left
                                box-shadow: none
                                background: #00a75e
                        .charitable-form-field
            #charitable-gateway-fields
                width: calc( 100% - 0px )
                margin-left: 0
                .charitable-fieldset-field-wrapper
                    text-align: left
                    border: 0
                    box-shadow: none
                    padding: 0px
                    .charitable-radio-list
                        li
                            color: #fff
                    .charitable-fieldset-field-header
                    #charitable-gateway-selector
            .charitable-fieldset
                .charitable-form-header
                .charitable-donation-options
                    .donation-amounts
                        .donation-amount.selected
                            background: #fff
                            color: #000
                        .suggested-donation-amount
                            padding: 10px 20px
                            box-shadow: none
                            background: #00a75e
                            font-weight: 400
                            margin: 0 12px 30px
                            .amount
                                font-weight: 400
                        .custom-donation-amount.selected
                            background: transparent
                        .custom-donation-amount
                            .custom-donation-input
                                background: #00a75e
                                box-shadow: none
                            .custom-donation-amount-wrapper
                                margin-top: 0px
                                &:after
                                    background: #fff
.payment-donate-section-two
    .charitable-submit-field
        overflow: hidden
        margin: 0
        .donate-button
            float: left
            box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0)
            margin: 10px auto 0px
            display: block
            border: 1px solid #fff
            background: #fff
            font-size: 16px
            color: #222
            padding: 13px 35px !important
            text-align: center
            border-radius: 0px
            font-weight: 500
            border: 0px solid #fff
    .charitable-donation-form
        .charitable-form-fields.cf
            #charitable-donor-fields
                padding-top: 0
                width: calc( 100% - 0px)
                margin-right: 0
                .charitable-form-fields.cf
                    box-shadow: none
                    border: 0
                    padding: 0px
                .charitable-form-fields
                    .charitable-donor-details
                        .donor-contact-details
                        .charitable-change-user-details
                    #charitable-user-fields
                        padding: 0px
                        #charitable_field_first_name,
                        #charitable_field_last_name
                            width: calc( 50% - 10px )
                            margin-right: 10px
                            input
                                box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0.18)
                                background: transparent
                                text-align: left
                                border-color: rgba(236, 232, 229, 0.10)
                                border-radius: 0
                        #charitable_field_email
                            width: 100%
                            input
                                text-align: left
                                box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0.18)
                                background: transparent
                                border-radius: 0
                        .charitable-form-field
            #charitable-gateway-fields
                width: calc( 100% - 0px )
                margin-left: 0
                .charitable-fieldset-field-wrapper
                    text-align: left
                    border: 0
                    box-shadow: none
                    padding: 0px
                    .charitable-radio-list
                        li
                            color: #fff
                    .charitable-fieldset-field-header
                    #charitable-gateway-selector
            .charitable-fieldset
                .charitable-form-header
                .charitable-donation-options
                    .donation-amounts
                        justify-content: flex-start
                        .donation-amount.selected
                            background: #fff
                            color: #000
                        .suggested-donation-amount
                            padding: 10px 20px
                            box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0.18)
                            background: transparent
                            font-weight: 400
                            margin: 0 12px 15px
                            border-radius: 0
                            margin-left: 0
                            margin-right: 20px
                            .amount
                                font-weight: 400
                        .custom-donation-amount.selected
                            background: transparent
                        .custom-donation-amount
                            margin-bottom: 0
                            .custom-donation-input
                                background: transparent
                                box-shadow: inset 0px 0px 7.2px 0.8px rgba(0, 0, 0, 0.18)
                            .custom-donation-amount-wrapper
                                float: left
                                margin-top: 0px
                                padding-left: 0px
                                input
                                    text-align: left
                                    padding-left: 45px
                                    border-radius: 0
                                &:after
                                    background: transparent
                                    color: #fff


@media only screen and (min-width: 300px) and (max-width: 600.98px)
    .page-title h1
        font-size: 37px
    .page-title .content-box
        padding: 65px 0
    .sidebar-page-container
        .post-wrapper
            padding: 50px 0 80px
    .news-block-three
        .inner-box
            padding: 20px
    .news-block-three
        h2
            font-size: 24px
            margin-bottom: 30px
    .news-block-three
        .post-info
            padding: 10px
    .main-header .mobile-menu .search-box-outer
        display: none
    .events-section 
        padding: 50px 0
    .goodsoul-base
        br
            display: block !important
        .nav-links
            .page-numbers
                height: 40px
                line-height: 38px
                width: 40px
                margin-right: 5px
        .post-wrapper
            margin-right: 0px
    .sidebar-page-container
        .sidebar
            padding-left: 0px
            &:before
                left: -20px

.new-poppu-css
    .charitable-fieldset
        margin: 0 0 0em
        padding: 0px !important
        border: 0px solid #ffffff
    .sec-title
        margin-bottom: 30px
    #charitable-gateway-fields
        .charitable-form-header
            font-size: 24px
            font-family: var(--prata)
            margin-top: 10px
            margin-bottom: 30px
            padding: 0 0
        .charitable-fieldset-field-wrapper
            .charitable-fieldset-field-header
                display: none
    .charitable-button
        position: relative
        line-height: 24px
        background: 0 0
        color: var(--theme-color-two)
        font-size: 13px
        font-weight: 500
        border-radius: 29px
        padding: 15px 65px
        border: 2px solid var(--theme-color-two)
        text-transform: uppercase
        overflow: hidden
    #charitable-donor-fields
        .charitable-form-header
            font-size: 24px
            font-family: var(--prata)
            margin-top: 20px
            margin-bottom: 30px
            padding: 0 0
        .charitable-form-fields
            #charitable-user-fields
                padding: 0 0
                display: flex
                flex-wrap: wrap
                .charitable-form-field
                    width: calc( 50% - 10px )
                    margin-right: 10px
                    label
                        display: none
                    input
                        display: block
                        width: 100%
                        height: 52px
                        font-size: 16px
                        color: #848484
                        line-height: 30px
                        padding: 11px 20px
                        font-weight: 300
                        background-color: #fff
                        border-radius: 6px
                        border: 1px solid #eaeaea
                        transition: all .5s ease
    .charitable-fieldset>:last-child
        margin-bottom: 0
    .charitable-fieldset.odd
        .charitable-form-header
            display: none
        .donation-amounts
            margin: 0
            display: flex
            justify-content: flex-start
            align-items: flex-start
            .donation-amount
            .selected.suggested-donation-amount
                background: transparent
                label
                    background: var(--theme-color-two)
                    color: #fff
            .selected.custom-donation-amount
                background: transparent
            .selected
            .suggested-donation-amount
                border: 0px solid
                width: auto !important
                .amount
                    font-size: 16px
                    font-weight: 400
                label
                    display: block
                    font-size: 16px
                    font-weight: 400
                    background: #fff
                    border: 1px solid #fff
                    color: #000
                    padding: 10px 35px
                    text-align: center
                    cursor: pointer
                    transition: all .1s ease-out
                    box-shadow: inset 0 0 7.2px 0.8px rgba(0,0,0,.18)
                    border-radius: 6px
                    margin-bottom: .5rem
            .custom-donation-amount
                border: 0
                .custom-donation-amount-wrapper
                    padding: 0
                    label
                        display: none
                    .custom-donation-input
                        padding: 11px 20px
                        color: #2f2f2f
            .donation-amount